<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head>

    <title>天气预报</title>

    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //For-Mobile-Apps -->

    <!-- Style --> <link rel="stylesheet" th:href="@{css/actualStyle.css}" type="text/css" media="all" />

    <!-- Web-Fonts -->
    <link href='http://fonts.useso.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Raleway:100,200' rel='stylesheet' type='text/css'>
    <!-- //Web-Fonts -->

</head>
<!-- Head -->



<!-- Body -->
<body onload="startTime()">

<!-- Container -->
<div class="container">

    <!-- City -->
    <div class="city">
        <div class="detail">
            <p th:text="'体感温度：'+${feels_like}+'°C'"></p>
            <p th:text="'能见度：'+${visibility}+'km'"></p>
            <p th:text="'风向：'+${wind_direction}"></p>
            <p th:text="'风速：'+${wind_speed}+'km/h'"></p>
            <p><a href="getWeatherDetail" style="color: #eeeeee; border-bottom: 1px solid;padding-bottom: 1px;">查看更多信息</a></p>
        </div>
        <div class="title">
            <h2>北京市</h2>
            <h3>BEIJING</h3>
        </div>
        <div class="date-time">
            <div class="dmy">
                <div id="txt"></div>
                <div class="date">
                    <!-- Date-JavaScript -->
                    <script type="text/javascript">
                        var mydate=new Date()
                        var year=mydate.getYear()
                        if(year<1000)
                            year+=1900
                        var day=mydate.getDay()
                        var month=mydate.getMonth()
                        var daym=mydate.getDate()
                        if(daym<10)
                            daym="0"+daym
                        var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
                        var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
                        document.write(""+dayarray[day]+", "+montharray[month]+" "+daym+", "+year+"")
                    </script>
                    <!-- //Date-JavaScript -->
                </div>
            </div>
            <div class="temperature">
                <p th:text=" ${temperature}"></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- //City -->


    <!-- Forecast -->
    <div class="forecast">
        <div class="forecast-icon">
            <span th:utext="${html}"></span>
        </div>
        <div class="today-weather">
            <h3 th:text="${text}"></h3>
            <table>
                <tr>
                    <td th:text="${time_1}"></td>
                    <td><span th:utext="${text_1}"></span></td>
                    <td th:text="${temp_1}+'°C'"></td>
                </tr>
                <tr>
                    <td th:text="${time_2}"></td>
                    <td><span th:utext="${text_2}"></span></td>
                    <td th:text="${temp_2}+'°C'"></td>
                </tr>
                <tr>
                    <td th:text="${time_3}"></td>
                    <td><span th:utext="${text_3}"></span></td>
                    <td th:text="${temp_3}+'°C'"></td>
                </tr>
                <tr>
                    <td th:text="${time_4}"></td>
                    <td><span th:utext="${text_4}"></span></td>
                    <td th:text="${temp_4}+'°C'"></td>
                </tr>
                <tr>
                    <td th:text="${time_5}"></td>
                    <td><span th:utext="${text_5}"></span></td>
                    <td th:text="${temp_5}+'°C'"></td>
                </tr>
            </table>
            <p style="margin-top:10px"><a href="getWeatherPerHour" style="color: #eeeeee; border-bottom: 1px solid;padding-bottom: 1px;">查看近五日天气</a></p>
        </div>
    </div>
    <!-- //Forecast -->
</div>
<!-- //Container -->

<!-- Time-JavaScript -->
<script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
            h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i}; // add zero in front of numbers < 10
        return i;
    }
</script>
<!-- //Time-JavaScript -->

<!-- //Custom-JavaScript-File-Links -->

</body>
</html>